index:
  view(name='sortable-table', as='sortable', on-row-move="onRowMove()", on-col-move="onColMove()")
  table
    tbody
      tr
        td
        each headers as #header, #i
          th(class="col") {{#header}}
      each table as #row, #i
        tr(class="row")
          th(on-mousedown="sortable.onRowDown($event)") {{#i+1}}
          each #row.cells as #cell
            td {{#cell}}